/* GRID LAYOUT APPLIED TO THE CARDS CONTAINER */
.grid-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);
    border: 3px solid;
}

.grid-item {
    border: 4px solid red;
}

/* to center the CTA content */
.cta-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: var(--space-sm);
}