.navbar {
    /*border: 3px solid pink;*/
    padding: var(--space-md) var(--space-xl);
    border-bottom: 2px solid var(--color-gray-light);
    box-shadow: var(--shadow-sm);
}

.nav-container {
    /*border: 4px solid red;*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--space-md);
}

.nav-links ul{
    /*border: 3px solid yellow;*/
    display: flex;
    gap: var(--space-lg);
}

.search-bar {
    display: flex;
    justify-content: center;
    margin-top: var(--space-lg);
}

.search-bar input {
    width: 80%;
    border-radius: var(--space-md);
}

.search-bar button {
    /* Position the search button within the search-bar */
    background-color: var(--color-primary);
    border: none;
    color: white;
    padding: var(--space-sm);
    border-radius: 50%;
    cursor: pointer;
}

.actions {
    display: flex;
    gap: var(--space-lg);
}

.actions button{
    background: none;
    border: none;
    font-size: var(--text-lg);
}

