/* NAVBAR */
.navbar {
  border-bottom: 1px solid var(--color-gray-light);
  width: 100%;
}

.nav-container {
  /*border: 2px solid red;*/
  max-width: var(--container-max-width);
  margin: 0 auto;
  padding: var(--space-md) var(--space-md);
  
  display: flex;
  align-items: center;
}

.logo img {
  width: 34px;
  height: 34px;
}

.logo {
  display: flex;
  align-items: center;
  gap: var(--space-sm);
}

.fa-globe,
.fa-bars {
  background: var(--color-gray);
  color: white;
  padding: var(--space-sm);
  border-radius: var( --radius-full);
}

.fa-globe:hover,
.fa-bars:hover {
  background: #909090;
}

.navbar-title {
  color: var(--color-primary);
  font-size: var(--text-xl);
}

/* FLEX ZONES */
.nav-left,
.nav-center,
.nav-right {
  flex: 1;
  display: flex;
  align-items: center;
}

.nav-center {
  justify-content: center;
  white-space: nowrap;
}

.nav-center ul {
  /*border: 3px solid yellow;*/
  display: flex;
  align-items: center;
  gap: var(--space-xl);
  color: var(--color-gray-dark);
}

.nav-right {
  justify-content: flex-end;
  gap: var(--space-md);
}

.nav-right button {
  cursor: pointer;
}

.link.active {
  color: var(--color-black);
  font-weight: var(--font-medium);
}

.link:hover {
  color: var(--color-black);
}

.navbar-slogan {
  font-size: var(--text-sm);
}

.nav-right {
  display: flex;
  gap: var(--space-lg);
}

.nav-right button {
  background: none;
  border: none;
}

/* SEARCH BAR */
.search-container {
  /*border: 4px solid;*/
  display: flex;
  justify-content: center;
  padding: var(--space-xl) 0;
}

.search-bar {
 position: relative;

 width: 100%;
 max-width: 850px;
 display: flex;
 align-items: center;
 height: 56px;

 background: var(--color-bg);
 border: 1px solid var(--color-gray-light);
 border-radius: var(--radius-full);
 padding: var(--space-md);
 box-shadow: var(--shadow-md);
}

.search-items {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.search-item {
  display: flex;
  align-items: center;
  height: 100%;

  padding: 0 var(--space-lg);
  font-size: var(--text-sm);
  font-weight: var(--font-medium);
  white-space: nowrap;
  cursor: pointer;
}

/* Where takes large space */
.search-item.where {
  flex: 2;
}

/* Check takes medium space*/
.search-item.check {
  flex: 1.2;
}

/* Who is smaller than the rest */
.search-item.who {
  flex: 1;
}

/* to separate text within the search bar */
.divider {
  width: 1px;
  height: 32px;
  background: var(--color-gray-light);
}

.search-btn {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 36px;
  height: 36px;
  margin-left: auto;
  background: var(--color-primary);
  color: white;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.search-btn:hover {
  background: #e03050;
}