/* NAVBAR */
.navbar {
  border-bottom: 1px solid var(--color-gray-light);
}

.nav-container {
  border: 2px solid red;
  max-width: var(--container-max-width);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--space-md) var(--container-padding);
}

.logo img {
  width: 34px;
  height: 34px;
}

.logo {
  display: flex;
  align-items: center;
  gap: var(--space-sm);
}

.navbar-title {
  color: var(--color-primary);
  font-size: var(--text-xl);
}

.nav-center ul {
  border: 3px solid yellow;
  display: flex;
  align-items: center;
  gap: var(--space-xl);
  color: var(--color-gray-dark);
}

.link.active {
  color: var(--color-black);
  font-weight: var(--font-medium);
}

.link:hover {
  color: var(--color-black);
}

.navbar-slogan {
  font-size: var(--text-sm);
}

.nav-right {
  display: flex;
  gap: var(--space-lg);
}

.nav-right button {
  background: var(--color-gray-light);
  border: none;
  padding: var(--space-sm);
  border-radius: 50%;
}

/* SEARCH BAR */
.search-container {
  border: 4px solid;
  padding: var(--space-lg);
}

.search-bar {
 display: flex;
 justify-content: center;
 gap: var(--space-xl);

 background: var(--color-bg);
 border: 1px solid var(--color-gray-light);
 border-radius: var(--radius-full);
 padding: var(--space-md);
 box-shadow: var(--shadow-sm);
}

/* to separate text within the search bar */
.divider {
  width: 3px;
  height: 32px;
  background: var(--color-gray-light);
}

.search-btn {
  background: var(--color-primary);
  color: white;
  border: none;
  border-radius: var(--radius-full);
  padding: var(--space-sm);
}