/* MEDIA QUERIES - for good-looking website across devices */

/**
* Mobile phones breakpoint 
**/

/*@media only screen and (max-width: 480px) {
    .nav-container {
       justify-content: space-between;
    }

    .nav-left,
    .nav-right {
        justify-content: center;
        margin: var(--space-md);
    }

    .nav-right button {
        display: none;
    }

    .search-bar {
       margin: var(--space-md);
    }

    .grid-container {
        justify-items: center;
    }

    .footer-features,
    .footer-info {
        flex-wrap: wrap;
        padding: var(--space-md) var(--container-padding);
    }

    .footer-legal {
     white-space: nowrap;
     margin-bottom: var(--space-md);
    }

    .footer-socials {
        gap: var(--space-lg);
    }
}*/

/**
* Large phones and tablets breakpoint 
**/
@media (max-width: 768px) {
    .nav-container {
        width: 100%;
        padding: var(--space-sm) var(--space-md);
        justify-content: space-between;
    }

    .nav-left,
    .nav-center,
    .nav-right {
        flex: initial;
    }

    .navbar-slogan {
        display: none;
    }

    .nav-center {
        display: none;
    }

    .nav-right {
        gap: var(--space-md);
    }

    .seach-container {
        padding: var(--space-md);
    }

    .search-bar {
        height: 48px;
        padding: 0 var(--space-sm);
    }

    .search-items {
        display: none;
    }

    .search-btn {
        margin-left: auto;
    }

    .grid-container {
        padding: 0 var(--space-md);
        gap: var(--space-md);
    }

    .footer-features,
    .footer-info {
        padding: var(--space-lg) var(--space-md);
    }

    .footer-features {
        flex-direction: column;
        gap: var(--space-lg);
    }

    .footer-info {
       flex-direction: column;
       align-items: center;
        justify-content: center;
        gap: var(--space-sm);
     }

    .footer-legal {
        white-space: normal;
        flex-wrap: wrap;
        justify-content: center;
    }
}